@using BlazorServerWebUI.Models.ViewModels;
@inject HttpClient httpClient
@inject NavigationManager navManager

<a href="catalog/car/@Car.Id" class="col" data-aos="zoom-in-up">
    <div class="card shadow-sm">

        <div class="scale">
            <img src="@Car.Images.First()" class="scale border-rad-16">
        </div>

        <h3>@Car.CarName</h3>

        <div class="d-flex" style="flex-wrap: wrap">
            <div class="mini-red-block">
                @Car.Characteristics.YearReleased
            </div>
            <div class="mini-red-block">
                @Car.Characteristics.Mileage
            </div>
            <div class="mini-red-block">
                @Car.Characteristics.CarBody.CarBodyName
            </div>
            <div class="mini-red-block">
                @Car.Characteristics.Transmission.TransmissionName
            </div>
            <div class="mini-red-block">
                @Car.Characteristics.InteriorColor
            </div>
        </div>

        <p><b>$ @Car.Price</b></p>
    </div>
</a>

@code {
    [Parameter]
    public CarViewModel Car { get; set; } = null!;
}