@model CarViewModel

<main>
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7">


            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    @foreach (var item in Model.Images)
                    { 
                        <div class="carousel-item active">
                            <img style="width: 100%; height: 400px !important" src="@item" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <p>Information, illustrations of the appearance and equipment of the car may differ from those provided on the website.</p>

            <h3>More about the car</h3>

            <p>@Model.Description</p>

        </div>
        <div class="col-lg-5">
            <h2>@Model.CarName</h2>

            <div class="d-flex" style="flex-wrap: wrap">
                <div class="mini-red-block">
                    @Model.Characteristics.YearReleased
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.Mileage
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.CarBody.CarBodyName
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.Transmission.TransmissionName
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.InteriorColor
                </div>
            </div>

            <h1>$ @Model.Price</h1>

            

            <ul class="list-unstyled ps-0">

                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("one", "Engine", Model.Specification.Engine))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("two", "Dimensions of the car", Model.Specification.Dimensions))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("three", "Operational characteristics", Model.Specification.OperationalCharacteristics))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("four", "Factory options", Model.Specification.FactoryOptions))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("five", "Advantages", Model.Specification.Advantages))

                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                        Engine
                    </button>
                    <div class="collapse" id="home-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            @if (Model.Specification.Engine != null && Model.Specification.Engine.Count != 0)
                            {
                                @foreach (var item in Model.Specification.Engine)
                                {
                                    <li>@item</li>
                                }
                            }
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#second-collapse" aria-expanded="false">
                        Dimensions of the car
                    </button>
                    <div class="collapse" id="second-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            @if (Model.Specification.Dimensions != null && Model.Specification.Dimensions.Count != 0)
                            {
                                @foreach (var item in Model.Specification.Dimensions)
                                {
                                    <li>@item</li>
                                }
                            }
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#third-collapse" aria-expanded="false">
                        Operational characteristics
                    </button>
                    <div class="collapse" id="third-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            @if (Model.Specification.OperationalCharacteristics != null && Model.Specification.OperationalCharacteristics.Count != 0)
                            {
                                @foreach (var item in Model.Specification.OperationalCharacteristics)
                                {
                                    <li>@item</li>
                                }
                            }
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#fourth-collapse" aria-expanded="false">
                        Factory options
                    </button>
                    <div class="collapse" id="fourth-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            @if (Model.Specification.FactoryOptions != null && Model.Specification.FactoryOptions.Count != 0)
                            {
                                @foreach (var item in Model.Specification.FactoryOptions)
                                {
                                    <li>@item</li>
                                }
                            }
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#six-collapse" aria-expanded="false">
                        Advantages
                    </button>
                    <div class="collapse" id="six-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            @if (Model.Specification.Advantages != null && Model.Specification.Advantages.Count != 0)
                            {
                                @foreach (var item in Model.Specification.Advantages)
                                {
                                    <li>@item</li>
                                }
                            }
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
            
            </ul>



        </div>
    </div>
</main>