@model CarViewModel

<main>
    <div class="row g-lg-5 py-5">
        <div class="col-lg-7">


            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    @foreach (var item in Model.Images)
                    { 
                        <div class="carousel-item active">
                            <img style="width: 100%; height: 400px !important" src="@item" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="row">
                <img src="~/img/warn.svg" width="20"/>
                <p style="color:#767676">Information, illustrations of the appearance and equipment of the car may differ from those provided on the website.</p>
            </div>

            <h3>More about the car</h3>

            <p>@Model.Description</p>

        </div>
        <div class="col-lg-5">
            <h1 style="font-weight: bolder">@Model.CarName</h1>

            <div class="d-flex" style="flex-wrap: wrap">
                <div class="mini-red-block">
                    @Model.Characteristics.YearReleased
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.Mileage
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.CarBody.CarBodyName
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.Transmission.TransmissionName
                </div>
                <div class="mini-red-block">
                    @Model.Characteristics.InteriorColor
                </div>
            </div>

            <h3>$ @Model.Price</h3>
            
            <div class="d-flex gap-2 ">
                <button class="btn btn-primary d-inline-flex align-items-center" type="button">Write to the seller</button>
                <button class="btn btn-danger rounded-pill" style="background: #FF0037;">
                    <img src="~/img/heart.svg" />
                </button>
            </div>

            <ul class="list-unstyled ps-0">
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("one", "Engine", Model.Specification.Engine))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("two", "Dimensions of the car", Model.Specification.Dimensions))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("three", "Operational characteristics", Model.Specification.OperationalCharacteristics))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("four", "Factory options", Model.Specification.FactoryOptions))
                @Html.Partial("ItemSpecification", new SpecificationItemViewModel("five", "Advantages", Model.Specification.Advantages))
                <li class="border-top my-3"></li>
            </ul>
             
            <div class="align-items-center list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border: 1px solid #767676; padding: 25px; border-radius: 16px">
                <img src="~/img/lising.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <p class="mb-0 opacity-75">Leasing without income certificates and guarantors. Advance payment from 20%</p>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
</main>